* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: Roboto;
}

#root {
  max-height: 100vh;
  margin: 0;
  height: 100vh;
}

.avatars {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.selected {
  border: 0.4rem solid #4e0eff !important;
}

.avatars .avatar {
  border: 0.4rem solid transparent;
  padding: 0.4rem;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.avatars .avatar img {
  height: 5rem;
  border-radius: 5rem;
}
